.message__box {
    width: 100%;
    padding: 10px;
    color: white;
    text-align: center;
}

.msg-success {
    background: green;
}

.msg-error {
    background: red;
}

.msg-warning {
    background: yellow;
}

@media screen and (max-width: 1599px) {
    .message__wrapper {
        padding-top: 50px;
    }
}